@charset "utf-8";

html{
    font-size: 16px;
    box-sizing: border-box;
    line-height: 1;
    letter-spacing: .04em;
}
section{
    padding-block:2rem;
}
.sec-title{
    padding-bottom:1em;
    font-size: 1.2rem;
    font-weight: 600;
}

#container{
    width: min(100%, 1100px);
    margin-inline:auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: 2fr 1fr;
}
.box-wrapper{
    padding:1rem;
    border:1px solid;
    border-radius: 1rem;
}

img{
    width: 100%;
    height:auto;
    display: block;
    background:#ccc;
}
a{
    display: block;
    text-decoration: none;
    color: #000;
}

#recommend-items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:.8rem;
    .item,
    .item-inner{
        display: grid;
        grid-template-rows: subgrid;
        grid-row: span 3;
        gap:.2rem;
    }
    .item-inner{
        img{
            aspect-ratio: 4 / 3;
        }
    }
}

#tag{
    .box-wrapper{
        display: grid;
        gap:1rem;
    }
}
#tag-items{
    display: flex;
    flex-wrap: wrap;
    gap:.8rem;
    a{
        padding:.4em 1em;
        border:solid;
        inline-size: fit-content;
        border-radius: 99px;
    }
}